<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @owner.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @owner.address.street %>
</p>

<table>
  <thead>
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>Vin Number</th>
  </tr>
  </thead>
  <tbody>
  <% for car in @owner.cars %>
      <tr>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.vin_number %></td>
      </tr>
  <% end %>
  </tbody>

</table>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
