<!DOCTYPE html>
<html>
<head>
  <title>MidtermPracticeS2015</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class = "header">
  <h1>Practice Exam Work</h1>
  <%= link_to "Car", cars_path%>
  <%= link_to "Address", addresses_path%>
  <%= link_to "Owner", owners_path%>
</header>
<%= yield %>

</body>
</html>
